#mouseFollower {
  height: 2.25vw;
  width: 2.25vw;
  border-radius: 2.25vw;
  border: 0.125vw solid var(--secondary-color);

  position: fixed;
  top: -1.125vw;
  left: -1.125vw;
  transform: translate(-2.25vw, -2.25vw);
  transition: 0.25s $primary-cubic-bezier;
  pointer-events: none;
  z-index: 10;
  will-change: transform, height, width, top, left, opacity;

  &.clickPressing {
    height: 1.25vw !important;
    width: 1.25vw !important;
    top: -0.625vw !important;
    left: -0.625vw !important;
  }
  &.linkHovered {
    height: 4.25vw;
    width: 4.25vw;
    top: -2.125vw;
    left: -2.125vw;
    opacity: 0.3 !important;
    transition: 0.45s $primary-cubic-bezier;
  }
}
