@font-face {
  font-family: "Inter";
  src: url("/style/fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/style/fonts/Everett/Everett-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
